<configuration>
  
  <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%level] [%date{ISO8601}] [%thread] - %msg%n</pattern>
      <!-- <pattern>[%date{ISO8601}] [%level] [%logger] [%marker] [%thread] - %msg MDC: {%mdc}%n</pattern> -->
      <!-- <pattern>%s{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
